<form method="post">
    <label>Employee ID</label>
    <input name="employeeId" />

    <label>Month</label>
    <input name="month" />

    <label>Year</label>
    <input name="year" />

    <button type="submit">Generate Payroll</button>
</form>
